body {
    background: #f7f7f7;
    font-size: 14px;
    font-family: -apple-system, SF UI Display, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
    min-width: 1200px;
}

/* 公用 */
.container {
    width: 1140px;
    margin-left: auto;
    margin-right: auto;
}

.navbar-container {
    display: flex;
}

.text-pink{
    color: #fa5e5b;
}

.text-gray-333 {
    color: #333333;
}

.text-gray-666 {
    color: #666666;
}

.text-gray-999 {
    color: #999999;
}

.text-green {
    color: #16c98d;
}

.text-blue {
    color: #288ad6;
}

.text-yellow {
    color: #ffc83f;
}
.text-single-line{
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}

.link-primary {
    color: #16c98d;
}

.link-primary:hover {
    color: #0caf76;
}

.bg-green {
    color: #ffffff;
    background: #16c98d;
}

.bg-green:hover {
    color: #ffffff;
    background: #0caf76;
}

.avatar{
    width: 48px;
    height: 48px;
}
p, li {
    margin: 16px 0;
}

/* 导航栏 */
.navbar {
    width: 100%;
    height: 56px;
    background: #ffffff;
}

.navbar-logo-text {
    font-size: 28px;
}

.navbar-button {
    padding-left: 22px;
    padding-right: 22px;
    line-height: 56px;
    display: inline-block;
}

.navbar-button:hover {
    text-decoration: none;
}

/* 轮播图 */
.slide {
    width: 100%;
    margin: 0 auto;
}

.slide img {
    width: 100%;
    height: 100%;
}

.carousel .carousel-container {
    height: 480px;
}

/* 主要内容 */
.plate {
    background: #ffffff;
    border-radius: 2px;
    padding: 16px;
    margin: 16px 0;
}

.plate > .title {
    font-size: 22px;
}

.plate-list{
    list-style: none;
    margin: 16px 0 0 0;
}

/* 动态 */
.dynamic-list {
    margin: 16px 0 0 0;
    list-style: none;
}

.dynamic-item {
    padding-left: 54px;
    position: relative;
}

.dynamic-item .title {
    margin: 0px;
}

.dynamic-item p {
    margin: 8px 0;
}

.dynamic-item .divider {
    margin: 16px 0;
}

.dynamic-count {
    position: absolute;
    left: 0;
    top: 0;
    text-align: center;
    width: 32px;
    font-size: 12px;
}

.dynamic-count p {
    margin: 0 0 8px 0;
    color: #acb3c2;
}

.dynamic-count img {
    width: 22px;
}
/*公告栏*/
.ranking-list-plate{
    padding-bottom: 14px;
}
.notice-list li{
    margin: 8px 0;
}
/*排行榜*/
.ranking-list li{
    margin: 16px 0 0 0;
}
.ranking-list .number{
    font-size: 16px;
    margin-right: 16px;
}

.ranking-list .avatar{
    margin-right: 16px;
    width: 40px;
    height: 40px;
}

.ranking-list .score{
    float: right;
    line-height: 40px;
}